/* Global styles */
* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  color: #fff;
}

/* Navbar */
#navbar {
  padding: 1.2em 2.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  color: rgb(0, 255, 170);
}

/* Container */
.container {
  padding: 2em;
}

.container h1 {
  margin-bottom: 1em;
}

/* Forms */
form {
  max-width: 300px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.4em;
}

.form-control input,
.form-control textarea {
  border: 1px solid #fff;
  padding: 5px;
  margin-bottom: 1em;
  border-radius: 5px;
}

.btn {
  background-color: rgb(99, 216, 177);
  color: #1b1b1b;
  padding: 5px 10px;
  border: none;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}


/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 23%;
  margin: 1%;
  text-align: center;
  margin-bottom: 1em;
  background-color: #333;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.product img {
  max-width: 300px;
  height: 200px;
  margin-bottom: 0.5em;
  border: 1px solid #fff;
}

.product h3 {
  margin-bottom: 1em;
  color: #fff;
}

.product-page {
  width: 100%;
}

.product-page img {
  max-width: 250px;
  margin-bottom: 1em;
}

.product-page p {
  margin-bottom: 1em;
}