<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuario</title>
</head>
<body>
    <h1>Adicionar usuario</h1>

    <!-- Quando subimit for clicado ele vai la para o metodo POST -->
    <form action="/users/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="Write your name">
        </div>

        <div>
            <input type="text" name="age" placeholder="Write your age">
        </div>

        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</body>
</html>