<h1>Cadastre seu livro!</h1>
<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="tittle">Titulo</label>
        <input type="text" name="title" placeholder="Digite o titulo">
    </div>

    <div class="form-control">
        <label for="pageqty">Numero de páginas Paginas</label>
        <input type="number" name="pageqty" placeholder="Quantas páginas o livro tem?">
    </div>

    <input type="submit" value="Cadastrar">
</form>