{{#with post}}

    {{!-- Evitamos o post.title e assim vai, se fosse mt prorpiedades ia ajudar mt. --}}

    <h1>{{title}}</h1>
    <p>{{category}}</p>
    <p>{{body}}</p>
    <p>Numero de comentários: {{comments}}</p>
    
{{/with}}